h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.team {
    padding-bottom: 40px;
}

.team__subtitle {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
}

.team__title {
    font-size: 24px;
    margin-bottom: 8px;
    line-height: 32px;
    font-family: 'Montserrat', sans-serif;
}

.team__description {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.team__users {
    padding-top: 45px;
    display: flex;
    gap: 30px;
}

.team__user {
    width: 100%;
    max-width: 240px;
    box-shadow: 0px 13px 19px 0px #00000012;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.team__user-image {
    margin-bottom: 30px;
}

.team__user-image img {
    display: block;
    width: 100%;
    height: inherit;
}

.team__user-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.team__user-roll {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.team__user-socials {
    display: flex;
    gap: 15px;
    padding-bottom: 30px;
    justify-content: center;
}

.team__user-socials a {
    display: block;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .team__users {
        flex-wrap: wrap;
        justify-content: center;
    }
}